.heading2 {
  width: max-content;
  padding: 9px 35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #0059fb;
  background: #d1f2ff;
  border-radius: 100px;
}
