.login {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__form {
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    flex-basis: 430px;
    input {
      width: 100%;
      padding: 16px 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #111018;
      display: block;
      margin-bottom: 30px;
    }
  }
}
